userdata/*
data/*
__pycache__
test_code/
config.json
.idea/
python-env/
demo-results/
config.json
myenv/


!data/sample/
!data/categories/
!data/bed.off
!data/dataset_links.txt
!data/dataset.py
!data/ex1_genrot.sh
!data/generate_rotations.py
!data/pert_000.csv
!data/pert_010.csv
!data/src0.ply
!data/src1.ply